body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5fff3;
  padding: 20px;
}

#output img {
  max-width: 300px;
  margin-top: 20px;
  border-radius: 8px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}